.map-container {
  width: 100%;
  height: 79vh;
}

.navbar {
  display: flex;
  flex-direction: row;
}

.addressInfo{
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.places{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.signupinfo{
  display: flex;
  justify-content: center;
}

.authDetails{
  display: flex;
  justify-content: center;
}

.mapFunctions {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.places{
  width: 24rem;
}

.mapInfo{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.navbarItem {

  margin-left: 1rem;
  margin-right: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.mapInfo {
}

.homegreeting {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.loginpage{  
  margin-left: 50%;
  margin-right: 50%;
}